@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: #7f019ed3;   
}

.icon1 img {
    width: 250px;
}

.card1   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #7f019e;
    text-align: justify;
    box-shadow: 10 px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
    margin-right: 25px;
    margin-left: 25px;   
    
}

.card1::before{
    content: '';
    position: absolute;
    top: 	0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
    margin-right: 25px;
    margin-left: 25px; 
}

.icon1{
    margin-bottom: 20px;
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before{
    content: '';
    position: ab;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #b7b7b7;
}

.content h3::before{
    position: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #06d675b6;
    bottom: 4px;
    border-radius: 100px;
}

.content p{
    color: #b7b7b7;
    
}

#read_buttom1 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #b7b7b7;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transform: all 0.2 ease-in-out;

}
#read_buttom1:hover{
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

.card1.active .content {
    height: auto;
}

.card1.active .content::before {
    visibility: hidden;
}


/*--------------------------------------------------- CARD 2 A PARTIR DAQUI-----------------------------------------------------------*/

.card2   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #7f019e;
    text-align: justify;
    box-shadow: 10 px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
    margin-right: 25px;
    margin-left: 25px; 
}

.card2::before{
    content: '';
    position: absolute;
    top: 	0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
    margin-right: 25px;
    margin-left: 25px; 
}

.icon2{
    margin-bottom: 100px;    
    padding-top: 10px;
}

.icon2 img {
    width: 250px;
    
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before{
    content: '';
    position: ab;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #b7b7b7;
}

.content h3::before{
    position: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #06d675b6;
    bottom: 4px;
    border-radius: 100px;
}

.content p{
    color: #b7b7b7;
    
}

#read_buttom2 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #b7b7b7;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transform: all 0.2 ease-in-out;

}
#read_buttom2:hover{
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

.card2.active .content {
    height: auto;
}

.card2.active .content::before {
    visibility: hidden;
}


/*--------------------------------------------------- CARD 3 A PARTIR DAQUI-----------------------------------------------------------*/

.card3   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #7f019e;
    text-align: justify;
    box-shadow: 10 px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
    margin-right: 25px;
    margin-left: 25px; 
}

.card3::before{
    content: '';
    position: absolute;
    top: 	0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
    margin-right: 25px;
    margin-left: 25px; 
}

.icon3{
    margin-bottom: 125px;    
    padding-top: 10px;
}

.icon3 img {
    width: 250px;
    
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before{
    content: '';
    position: ab;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #b7b7b7;
}

.content h3::before{
    position: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #06d675b6;
    bottom: 4px;
    border-radius: 100px;
}

.content p{
    color: #b7b7b7;
    
}

#read_buttom3 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #b7b7b7;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transform: all 0.2 ease-in-out;

}
#read_buttom3:hover{
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

.card3.active .content {
    height: auto;
}

.card3.active .content::before {
    visibility: hidden;
}

/*--------------------------------------------------- CARD 4 A PARTIR DAQUI-----------------------------------------------------------*/

.card4   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    background-color: #7f019e;
    text-align: justify;
    box-shadow: 10 px 10px 10px rgba(0, 0, 0, 0.389);
    position: relative;
    margin-right: 25px;
    margin-left: 25px; 
}

.card4::before{
    content: '';
    position: absolute;
    top: 	0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
    margin-right: 25px;
    margin-left: 25px; 
}

.icon4{
    margin-bottom: 100px;    
    padding-top: 10px;
}

.icon4 img {
    width: 250px;
    
}

.content {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.content::before{
    content: '';
    position: ab;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #3f3f3f);
}

.content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: #b7b7b7;
}

.content h3::before{
    position: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #06d675b6;
    bottom: 4px;
    border-radius: 100px;
}

.content p{
    color: #b7b7b7;
    
}

#read_buttom4 {
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: #b7b7b7;
    color: #313131;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transform: all 0.2 ease-in-out;

}
#read_buttom4:hover{
    background-color: transparent;
    color: #06d62e;
    transition: all 0.2s ease-in-out;
}

.card4.active .content {
    height: auto;
}

.card4.active .content::before {
    visibility: hidden;
}